@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-spacemono: "Space Mono", monospace;
    --font-condensed: "Condensed", sans-serif;
     --color-status-red: #CD2C2C;
}

@theme {
  --breakpoint-desktop: 900;
}

@theme  {
  --color-github-dark-background: #141d2f;
  --color-github-dark-card-background: #1e2a47;
  --color-github-dark-text: #d1d7e0;
  --color-github-dark-border: #d1d9e0;
  --color-github-dark-button-bg: #f6f8fa;
}



@theme {
  --color-github-light-background: #f2f2f2;
  --color-github-light-card-background: #ffff;
  --color-github-light-text: #1f2328;
  --color-github-light-border: #d1d9e0;
  --color-github-light-button-bg: #0079ff;
}